@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: "Raleway", sans-serif;
  width: 1000px;
  margin: auto;
}

h1 {
  font-weight: bold;
  margin: 8px 0 8px 0;
}

a {
  color: #6666FF;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  border-bottom: 1px solid #666;
}

h3 {
  margin: 0 0 0 0;
}

h4 {
  margin: 0 0 2px 0;
}


.entry {
  align-items: flex-start;
  display: flex; 
  margin-bottom: 3px;
}

.date {
  flex: 0 0 85px;
  margin: 0 0.5em 0 0;
}

.location {
  display: flex;
  justify-content: flex-end;
}

.entry_body {
  display: flex;
  flex-direction: column;
  width: 980px;
}
.entry_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entry_details {
  display: flex;
  flex-direction: row;
  //font-size: 0.9em;
  justify-content: space-between;
  margin: 0 0 4px 0;
}
