@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  font-family: Inconsolata;
  width: 960px;
  margin: auto;
}

h1 {
  font-weight: bold;
  margin: 10px 0 10px 0;
}

a {
  color: #009900;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  border-bottom: 1px solid #666;
}

h3 {
  margin: 0 0 4px 0;
}

.entry {
  align-items: flex-start;
  display: flex; 
  margin-bottom: 8px;
}

.date {
  flex: 0 0 80px;
  margin: 0;
}

.location {
  display: flex;
  justify-content: flex-end;
}

.entry_body {
    display: flex;
    flex-direction: column;
  width: 960px;
}
.entry_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entry_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
